/* 	HEADER SECTION */
.row{
	margin:  0px;

}
#mainContainer{
	padding:0px;
	margin-left: 0px;
	margin-right: 0px;
}
#header{
	background-color: #252525;
	width: 100%;
}
#header .navbar{
	margin-bottom: 0px;
	min-height: 0px;
	background-color: #252525;
	width: 100%;
	border-color: #252525;
}
#address{
	/*alinear el contenido de address al centro*/
	text-align:center;
}
#address ul{
	margin-top:5px;
}
#address .addressElement{
	color:white;
	display:inline;
    font-family: 'Slabo 20px', serif;
    font-size: x-small;
    margin-right:3px;
	vertical-align: bottom;
	font-size: 13px;
}
#header #subHeader{
	background-color:  white;
	height:150px;
	display: table;
	width:100%;
}



#subHeader{
	max-height: 650px;
 	min-height: 550px ;
 	background-image: url("../images/fashion.jpg");
 	//background-image: url("http://www.fondos7.net/wallpaper-original/wallpapers/emma-watson-fashion-2011-3618.jpg");

 	background-attachment: fixed;
}

h1{
	//font-family: 'Indie Flower', cursive;
	font-family: 'Oswald', sans-serif;

	text-shadow: 3px 3px black;
   // font-family: 'Rock Salt', cursive;
	font-size: 4.3em;
	color:black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	color: white;
}

#socialNetworks   > .icon-button {
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:50%;
	text-align:center;
	margin-top:7px;
 	margin-bottom:7px;
	background-color: #252525;
	cursor:pointer;
/* 	border:1px solid black ;  */
	margin-right:-4px;
	margin-bottom: 3px;
	padding:0px;
	border: 0px;

}

@keyframes socialMediaButtonTwitter{
	from{background-color:black;}
	to{background-color:#4099ff; }
}
@keyframes socialMediaButtonFacebook{
	from{background-color:black;}
	to{background-color:#3B5998;
		  }
}
@keyframes socialMediaButtonYoutube{
	from{background-color:black;}
	to{background-color:#cd201f;
		   }
}
@keyframes socialMediaButtonPinterest{
	from{background-color:black;}
	to{background-color:rgb(189, 8, 28);
		   }
}
@keyframes socialMediaButtonInstagram{
	from{background-color:black;}
	to{background-color: #DC2D79;
		   }
}


#socialNetworks   > .icon-button > i {
	position:relative;
	top:7px;
}

#socialNetworks   > .icon-button.twitter:hover  {
	animation-name:socialMediaButtonTwitter;
	animation-duration: 0.5s;
	background-color:#4099ff;
	border-color:#4099ff;
}

#socialNetworks   > .icon-button.twitter:hover >i {
	color:white;
}

#socialNetworks   > .icon-button.facebook:hover  {
	animation-name:socialMediaButtonFacebook;
	animation-duration: 0.5s;
	background-color:#3B5998;
	border-color:#3B5998;
}

#socialNetworks   > .icon-button.facebook:hover >i {
	color:white;
}

#socialNetworks   > .icon-button.youtube:hover  {
	animation-name:socialMediaButtonYoutube;
	animation-duration: 0.5s;
	background-color:#cd201f;
	border-color:#cd201f;
}

#socialNetworks   > .icon-button.youtube:hover >i {
	color:white;
}

#socialNetworks   > .icon-button.pinterest:hover  {
	animation-name:socialMediaButtonPinterest;
	animation-duration: 0.5s;
	background-color:rgb(189, 8, 28);;
	border-color:rgb(189, 8, 28);;
}

#socialNetworks   > .icon-button.pinterest:hover >i {
	color:white;
}

#socialNetworks   > .icon-button.instagram:hover  {
	animation-name:socialMediaButtonInstagram;
	animation-duration: 0.5s;
	background-color:#DC2D79;
	border-color:#DC2D79;
}

#socialNetworks   > .icon-button.instagram:hover >i {
	color:white;
}

.twitter-icon{
	color:white;
}
.facebook-icon{
	color:white;
}
.youtube-icon{
	color:white;
}
.pinterest-icon{
	color:white;
}
.instragram-icon{
	color:white;
}


.tshirts{
	width:50px;
	margin: 0 auto;

}
.tshirts .tshirt {
	font-size: 20px;
}

										/* 	MAIN SECTION */

#mainContent{
	border-top: 8px solid #47BAC1;
	padding-top: 30px;

}
.sidebar{
	//border:1px solid black;

}

.catalogSection{
	margin-bottom: 50px;

}
.catalogSection h4{
	font-family: 'Oxygen', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 4px solid #E4E4E4;
	padding-bottom: 9px;
	margin-bottom: 17px;
}
.items {
	padding-top: 20px;
	text-align: center;
}
.items img{
	display: inline-block;
	margin-right: 30px;
	margin-left: auto;
	margin-bottom: 10px;
}

										/* 	FOOTER SECTION */

footer{
	width:100%;
	background-color: #252525;
	zoom: 1;
  	border-top: 8px solid  #47BAC1;



}
footer h5{
/* 	box-sizing: border-box;  */
	margin-bottom: 13px;
	color:#5F5F55;
	text-transform:uppercase;
	//text-align:center;
	line-eight:15.4px;
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    font-weight:700;
    letter-spacing: 1px;
    outline-color:#5F5F55;
    outline-style: none;
    outline-width: 0px;
}
.footerLink{
	margin-top:20px;
}
.footerAddress{
	margin-top: 20px;
}
.newsletter{
	margin-top: 20px;
	margin-bottom: 50px;


}
.newsletter h5{
	font-size:18px;
	text-align: center;
}
.newsletter h3{
	font-size:24px;
	text-transform:uppercase;
	color: #acacac;
	margin-top: 3px;
	margin-bottom: 10px;
}
.newsletter p{
	font-size: 12;
	color:#A3A4A5;
	font-weight: 400;
	line-height: 18px;

}
input#form-newsletter{

	color: white;
	width: 200px;
	height: 40px;
	padding: 7px;
	background-color: #3B3B3B;
	border-radius: 0px;
	border: 0px;
	font-family: 'Oxygen', sans-serif;
	font-size:13px;
}

#basic-addon{
	padding: 10px;
	width: 50px;
	height:40px;
	color: white;
	font-weight: bold;
	border:2px solid cyan;
	background-color: #252525;
	border-radius: 0px;
}

.footerLink ul{
	font-size:12px;
    font-family: 'Oxygen', sans-serif;
	line-height: 20px;
}
.footerLink ul li{
	display: block;
	margin-bottom:2px;

}
.footerLink a{
	text-decoration: none;
	color: #A3A4A5;
	cursor:pointer;
}
.footerLink a:hover{
	color: white;
}
.footerAddress ul{
	list-style-type:none;
	color:#A3A4A5;
	font-size:12px;
	font-family: 'Oxygen', sans-serif;
/* 	text-align:center;  */
}



/*Si la pantalla es max pequeña*/
@media screen and (max-width: 1000px) {

	#rightHeaderSection {
		text-align: center;

	}
    footer{
    	text-align: center;
    }
}



