#mainContainer{
	padding:0px; 	
}
#header{
	background-color: #2E3537	;
	heigth:10%; 
	width: 100%; 	
}
header .col-md-4{
	border:1px solid red; 
}

#socialNetworks{
	border: 1px dotted blue; 
	display:inline; 
	float:right;
	padding:0px; 
	margin:0px; 
	border:0px; 
}
#socialNetworks  > li{
	color: white;
/* 	width:25px;  */
/* 	height:25px;  */
	border-radius:25px;  	 
	display:inline-block; 
	margin-top:10px;
	margin-bottom:10px;  
}
#socialNetworks  > li > a{
	color: white;
	width:25px; 
	height:25px; 
	border-radius:50%; 
	border:1px solid white; 
	display:inline-block; 
	text-align:center;  
	vertical-align: middle;
}
#socialNetworks  > li > a > i{
	vertical-align: middle;
}
